<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achat</title>
  </head>
  <body>
    <h1>Achat</h1>
    <hr />
    <a href="{% url 'Bon_commande' %}">Bon de commande</a>
    <a href="{% url 'Bon_livraison' %}">Bon de livraison</a>
    <a href="{% url 'Facture' %}">Facture</a>
    <a href="{% url 'Réglements_achat' %}">Réglements</a>
    <br />
    <a href="{% url 'Home' %}">Home</a>
  </body>
</html>
