<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
</head>

<body>
    <h2>Bon livraison N° {{BL.id}} établi le {{BL.Date_BL}}</h2>
    <ul>
        {% for item in BL_etabli %}
        <li>Nom Produit : {{item.Produits.Nom_produit}} Quantité : {{item.Qte_BL}} Prix achat : {{item.Prix_HT_BL}} Prix vente : {{item.Prix_Vente_BL}} </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Total prix vente : {{total_vente}}</h2>
    <h2>Total prix achat : {{total_achat}}</h2>
    <h2>Remise : {{BL.Remise_BL}}%</h2>
    <h2>Prix TTC : {{prix_ttc}}</h2>
    <br>
    <a href="{% url 'Bon_livraison' %}">Retour</a>
</body>

</html>