<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Etablire Commande</title>
  </head>

  <body class="body">
    <div class="form-page">
      <h4>Etablire une commande</h4>
      <form method="POST">
        {% csrf_token %} {{ formCommande.as_p }}
        <a class="btn btn-danger" href="{% url 'Bon_commande' %}">Annuler</a>
        <input class="btn btn-success" type="submit" value="Ajouter" />
      </form>
      <br />
      <p>{{ msg }}</p>
    </div>
  </body>
</html>
