<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Types Produits</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'header.html' %}
    <section>
      <h1 class="items-list-title">Types des produits:</h1>
      <div class="d-flex justify-content-between pt-2 pb-5">
        <div class="d-flex justify-content-between"></div>
        <div>
          <a class="col-auto" href="{% url 'ExpTypesCSV' %}">
            <button class="btn btn-outline-primary btn-light">
              Export(CSV)
            </button></a
          >
          <a class="col-auto col-auto-offset-9" href="{% url 'Ajouter_type' %}"
            ><button class="btn btn-primary btn-outline-light">
              + Ajouter
            </button></a
          >
        </div>
      </div>
      <hr />

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          {% for type in types %}
          <tr>
            <td>{{ type.Nom_type }}</td>
            <td>
              <a href="{% url 'Edit_type' type.id %}">Modifier</a>
            </td>
            <td>
              <a href="{% url 'Supp_type' type.id %}">Supprimer</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </body>
</html>
