<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Etablire Facture</title>
  </head>

  <body class="body">
    <div class="form-page">
      <h3>Chercher le produit à ajouter :</h3>
      <hr />
      <form method="post" action="">
        {% csrf_token %}
        <input
          type="search"
          name="produit_chercher"
          required
          class="form-control mb-3"
          placeholder="Nom de produit"
        />
        {% csrf_token %}
        <input
          type="number"
          min="1"
          name="quantite"
          required
          class="form-control mb-3"
          placeholder="QTE"
        />
        <button class="btn btn-primary" type="submit">Chercher</button>
      </form>
      {% for msg in messages %} {% if msg.level == 20 %}
      
      {% else %}
      <p>{{msg}}</p>
      {% endif %} {% endfor %}
      <div class="d-flex justify-content-evenly">
        <a class="btn btn-danger" href="{% url 'Vente' %}">Retour</a>
        <a class="btn btn-success" href="{% url 'Afficher_vente_payer' pk %}">Payer</a>
      </div>
  
    </div>
  </body>
</html>
