<!DOCTYPE html>
<html lang="en">
  {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Qte Stocker</title>
  </head>
  <body class="body">
    <div class="form-page">
      <h1>Ajouter la Quantité</h1>
      <hr />
      <form action="" method="post">
        {% csrf_token %}
        <input
          type="number"
          name="qte"
          min="1"
          class="form-control mb-5"
          placeholder="Quantité à stocker"
        />
        <div class="d-flex justify-content-evenly">
            <a class="btn btn-danger" href="{% url 'Stock' %}">Retour</a>
          <button class="btn btn-success" type="submit">Stocker</button>
        </div>
      </form>
    </div>
  </body>
</html>
